<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Demo Checkout</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div id="payment-middle" class="col-sm-6">
                    <h2> Checkout </h2>
                    <br>
                    <div id="heading" class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-3">
                            <h4> Item </h4>
                        </div> 
                        <div class="col-sm-2">
                            <h4> Price </h4>
                        </div>    
                    </div> 
                    <br>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                            <img class="items" src="/public/img/lotion.png"/>
                        </div>
                        <div class="col-sm-3">
                            <h5> Lotion </h5>
                        </div> 
                        <div class="col-sm-2">
                            <h5> £17.00 </h5>
                        </div>    
                    </div>  
                    <br>    
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-4">
                            <img class="items" src="/public/img/makeupBrush.png"/>
                        </div>
                        <div class="col-sm-3">
                            <h5> Make Up Brush </h5>
                        </div> 
                        <div class="col-sm-2">
                            <h5> £11.00 </h5>
                        </div>    
                    </div>  
                    <br>
                    <div class="row"> 
                        <div class="col-sm-12">                            
                            <button> <a href="/payment"> Pay </a></button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                </div>
            </div>

        </div>
    </body>
</html>
